<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Event</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form class="row g-3" [formGroup]="eventForm" (ngSubmit)="onSubmitEventForm()">
        <input type="hidden" name="id" formControlName="id">
        <div class="col-md-12">
            <label for="inputName5" class="form-label">Event Title</label>
            <input type="text" class="form-control"
                [ngClass]="{'border-danger': eventForm.get('title')?.hasError('required')}" id="inputName5"
                placeholder="Enter event title" formControlName="title">
        </div>
        <div class="col-md-12">
            <label for="inputName5" class="form-label">Event Description</label>
            <textarea class="form-control"
                [ngClass]="{'border-danger': eventForm.get('description')?.hasError('required')}" name="description"
                rows="3" formControlName="description"></textarea>
        </div>
        <div formGroupName="timing" class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <label for="startDate">Start Date</label>
                    <div class="input-group">
                        <input id="startDate" class="form-control"
                            [ngClass]="{'border-danger': eventForm.get('timing')?.get('startDateTime')?.hasError('required')}"
                            placeholder="yyyy-mm-dd" name="startDp" type="datetime-local"
                            formControlName="startDateTime" />
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="enddate">End Date</label>
                    <div class="input-group">
                        <input id="enddate" class="form-control"
                            [ngClass]="{'border-danger': eventForm.get('timing')?.get('endDateTime')?.hasError('required')}"
                            placeholder="yyyy-mm-dd" name="endDp" type="datetime-local" formControlName="endDateTime" />
                    </div>
                </div>
            </div>
        </div>
        <div formGroupName="address" class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <label for="inputAddress5" class="form-label">Area</label>
                    <input type="text" class="form-control"
                        [ngClass]="{'border-danger': eventForm.get('address')?.get('city')?.hasError('required')}"
                        id="inputAddres5s" placeholder="Enter event area" formControlName="city">
                </div>
                <div class="col-md-6">
                    <label for="inputAddress2" class="form-label">Pin Code</label>
                    <input type="text" class="form-control"
                        [ngClass]="{'border-danger': eventForm.get('address')?.get('pinCode')?.hasError('required')}"
                        id="inputAddress2" placeholder="Enter pin code" formControlName="pinCode">
                </div>

            </div>
        </div>
        <div class="col-12">
            <label for="formFile" class="form-label">Image</label>
            <input class="form-control" [ngClass]="{'border-danger': eventForm.get('image')?.hasError('required')}"
                type="file" accept="image/png, image/jpeg" id="formFile" formControlName="image">
        </div>

        <div class="col-12 text-center">
            <button type="submit" class="btn theme-color-button" (click)="modal.close('Save click')">Save</button>
        </div>

    </form>
</div>