<div class="d-flex justify-content-between">
    <h5 class="card-title m-0 p-0 mb-3">All Event List</h5>
    <button class="btn theme-color-button" (click)="addEvent()">
        <i class="bi bi-calendar2-plus-fill me-1"></i>
        Add Event
    </button>
</div>
<!-- <p>Add <code>.table-sm</code> to make any <code>.table</code> more compact by cutting all cell padding in half.</p> -->
<div class="table-responsive">

    <table class="table table text-center">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Image</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Address</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let item of eventList">
                <tr>

                    <th scope="row">{{ item.id }}</th>
                    <td>
                        <img src="{{ item.image }}" class="profile-image" alt="Image not found" />
                    </td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.timing.startDateTime| date : 'medium' }}</td>
                    <td>{{ item.timing.endDateTime | date : 'medium'}}</td>
                    <td>
                        <i class="bi bi-geo-alt-fill"></i>
                    </td>
                    <td>
                        <button class="btn btn-outline-info" (click)="viewEventDetails(item)">
                            View
                        </button>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>